* {
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    display: block;
}

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    color: #000;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.bg {
    background: url(../images/woodbackgroundwithvignette.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    z-index: -999;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*header and navigation*/
header {
    margin: 0;
    padding: 0;
    height: 60px;
    display: block;
    position: relative;
}

.opacityhead {
    color: black;
    background-color: transparent;
    filter: opacity(100%);
    opacity: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #009BFF;
    padding: 0 2em;
    padding-top: 10px;
    height: 60px;
    background: rgb(0, 155, 255);
    /* The fallback for browsers that don't use rgba. */
    background: rgba(0, 155, 255, 0.8);
}

#bizname {
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 5px 5px 3px black, 0px 0px 15px black;
}

nav {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    height: 100%;
}

nav li {
    float: left;
    height: 100%;
}

nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 0.9em;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    box-sizing: border-box;
    line-height: 30px;
}

nav li a:hover {
    background-color: #003a60;
    color: #ffffff;
    font-weight: bold;
}

nav a:link {
    color: #000000;
}

nav a :visited {
    color: #000000;
}

/*end header and navigation*/

/*main content*/
main {
    color: white;
}

#mobile_banner {
    display: none;
}

#content {
    position: fixed;
    right: 190px;
    left: 30px;
    top: 80px;
    bottom: 60px;
    text-align: left;
    align-items: left;
    color: black;
    background-color: rgba(230, 232, 250, 0.8);
    border: none;
    overflow: auto;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    font-size: 1.2em;
}

#ad_sidebar {
    position: fixed;
    right: 20px;
    top: 80px;
    bottom: 60px;
}

#content #google_form {
    text-align: center;
    align-items: center;
}

#google_form {
    width: 100%;
    height: 100%;
    border: none;
}

#content #blog a {
    padding: 1px 25px 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    background: rgba(230, 232, 250, 0.8);
    text-emphasis-color: none;
}

#content #blog a:hover {
    background: rgba(0, 155, 255, 0.8);
}

#content #blog a:visited {
    color: inherit;
}

.tiles {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.projectsBy,
.doyouwant {
    text-shadow: 5px 5px 3px black, 0px 0px 15px black;
}

.doyouwant {
    font-size: 1.1em;
}

.doyouwant a {
    color: white;
}

.doyouwant a:hover {
    text-shadow: 5px 5px 3px orange, 0px 0px 15px orange;
}

.tile {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 1.1em;
    background-color: transparent;
    filter: opacity(100%);
    opacity: 100%;
    width: 30%;
    height: 250px;
    padding: 0;
    margin: 10px;
    background: rgb(230, 232, 250);
    background: rgba(230, 232, 250, 0.6);
    overflow: hidden;
    border-radius: 10px;
}

.tile img {
    max-height: 100%;
    opacity: 0.75;
}

div.tile a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: black;
    text-decoration: none;
}

.tile:hover {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 165, 0);
    box-shadow: 0 0 25px rgb(255, 165, 0);
}

.tile:hover h2 {
    font-size: 1.2em;
    margin: 5px;
    padding: 0;
}

.tile:hover img {
    opacity: 1;
}

.tile:hover p {
    display: none;
}

.tile p {
    padding: 5px;
    margin: 0;
}

.tilecontent {
    position: absolute;
    background-color: rgba(0, 155, 255, 0.8);
    width: 100%;
}

.opacitymain {
    color: black;
    font-size: 1.1em;
    background-color: transparent;
    filter: opacity(100%);
    opacity: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #000;
    padding: 0 2em;
    margin-top: 10px;
    padding-top: 10px;
    background: rgb(230, 232, 250);
    background: rgba(230, 232, 250, 0.9);
}

.tile h2 {
    font-size: 1.4em;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0.25em 0.1em 0.25em;
}

/*
main ul {
    margin: 0 0 0 4em;
    padding: 0;
}

main ul li {
    max-width: 900px;
    padding: 0 0.25em 0.75em 0.25em;
    margin: 0 auto;
    line-height: 125%;
}
*/
/*end main content*/

/*footer*/
footer {
    margin-top: 1.5em;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.opacityfoot {
    color: black;
    background-color: transparent;
    filter: opacity(100%);
    opacity: 100%;
    width: 100%;
    background-color: #e6e8fa;
    height: 40px;
    background: rgb(230, 232, 250);
    background: rgba(230, 232, 250, 0.8);
}

/*end footer*/

@media only screen and (max-width: 1024px) {

    body {
        margin: 0px;
        padding: 0px;
    }

    #wrapper {
        width: 100%;
        min-width: 0;
        margin: 0;
        padding: 0;
    }

    nav {
        float: right;
        position: absolute;
        right: 0;
    }

    .tile {
        width: 40%;
    }

}

@media only all and (max-width: 768px) {

    header {
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
    }

    #ad_sidebar {
        display: none;
    }

    #mobile_banner {
        display: block;
        margin: 0 auto;
        text-align: center;
        align-content: center;
    }

    #content {
        right: 30px;
    }

    nav {
        float: left;
        position: absolute;
        left: 0;
    }

    .tile {
        width: 80%;
    }

}