{% extends "layout.html" %}

{% block title %}about.html{% endblock %}

{% block content %}
<div id="content">
    <div>
        <p>Index.html is webpage created by <a href="http://austinhrin.com" target="__blank__">Austin Hrin</a> to house all web projects small and big. Most projects are just small like I wonder if I could do xyz... While some projects are large like the Windows 9x/XP themed website. No matter how big or small there is one thing these projects all have in common, that is that they are all one html page. Index.html</p>
    </div>
</div>
{% include 'ad_sidebar.html' %}
{% endblock %}