{% extends "layout.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<div id='content'>
    {% include 'ad_mobile_horizontal.html' %}
    <h1 class="title">{{ post.title }}</h1>
    <p class="posted_datetime">{{ post.posted_datetime }}</p>
    <p class="author">{{ post.author }}</p>
    <div class="content">
        {% for content in post.content %}
        {% if content.tagName == 'ul' %}
        <ul>
            {% for child in content.children %}
            <li>{{ child.innerHTML }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <{{content.tagName}}>{{content.innerHTML|safe}}</{{content.tagName}}>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% include 'ad_sidebar.html' %}
{% endblock %}