<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{% block title %}Index.html{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Collection of webpages written without using JavaScript or CSS frameworks. Why do we need Angular, React, Vue, Bootstrap, Tailwind, or any other framework when you can get by without it?">
    <meta name="keywords" content="index.html, index, dot, html, css, javascript">
    <meta name="author" content="Austin Hrin">
    <link href="/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
		</script>
        <![endif]-->
</head>

<body>
    <div class="bg"></div>
    <div id="wrapper">
        {% include 'nav.html' %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'footer.html' %}
    </div>
    <script type="text/javascript">
        amzn_assoc_ad_type = "link_enhancement_widget";
        amzn_assoc_tracking_id = "indexdothtml-20";
        amzn_assoc_linkid = "baf7401bb8692ba87cea0f29ff161c1a";
        amzn_assoc_placement = "";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
    </script>
    <script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
</body>

</html>